In [4]:
import pandas as pd


s = pd.Series([10, 20, 30, 40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22],
'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago

In [6]:
data = {
    'Department': ['HR', 'HR', 'IT', 'IT', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Salary': [50000, 52000, 60000, 62000, 58000]
}
df = pd.DataFrame(data)


grouped = df.groupby('Department')['Salary'].mean()
print(grouped)

Department
Finance    58000.0
HR         51000.0
IT         61000.0
Name: Salary, dtype: float64

create a data frame and filter employes with salary>6000

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['IT', 'HR', 'IT', 'Finance'],
    'Salary': [50000, 52000, 62000, 58000]
}
df = pd.DataFrame(data)


# high_salary = df[df['Salary'] > 60000]
# print(high_salary)

In [13]:
data = {
    'Department': ['HR', 'HR', 'IT', 'IT', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Salary': [50000, 52000, 60000, 62000, 58000]
}
df = pd.DataFrame(data)

# Group by Department and calculate the mean salary
grouped = df.groupby('Department')['Salary'].mean()
print(grouped)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x0000023922AEBAA0>

In [ ]:
how to drop index of three order index and reodrer index of using pandas in excel